:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  --white: rgb(255 255 255);
  --grey: rgb(238 238 238);
  --dark: rgb(57 62 70);
  --black: rgb(34 40 49);
  --teal: rgb(0 173 181);

  --compare1: rgb(165, 42, 42);
  --compare2: rgb(210, 43, 43);
  --color: rgb(189, 78, 187);
  --swap: #007500;
  --success: #007500;

  --app-height: 100vh;
  --item-transition: 400ms;
}

body {
  margin: 0;
  min-width: 320px;
  height: var(--app-height);
  background-color: var(--white);
  user-select: none;
  overflow: hidden;
}

#app {
  box-sizing: border-box;
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  background-color: var(--dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--black);
}

header {
  box-sizing: border-box;
  height: 8vh;
  width: 100%;
  padding: 0.5rem 5%;
  background-color: var(--grey);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  -webkit-user-drag: none;
  height: 100%;
  width: auto;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  #logo {
    display: none;
  }
}

#controls {
  height: 75%;
  width: 80%;
  max-width: 700px;
  display: flex;
  gap: 1rem;
}

#sort-select {
  flex: 1;
  color: var(--white);
  background-color: var(--black);
  outline: none;
  padding: 0 0.5rem;
  font-size: 1em;
  letter-spacing: 1px;
  margin-right: 0.5rem;
}

#controls button:not(#btn-stopSorting) {
  color: var(--white);
  border-radius: 3px;
  text-align: center;
  width: 6rem;
}

#btn-sort {
  background-color: var(--teal);
}

@media screen and (max-width: 540px) {
  #controls {
    width: 60%;
  }

  #sort-select {
    margin: 0;
  }

  #btn-newArray {
    display: none;
  }
}

#btn-stopSorting {
  aspect-ratio: 1 / 1;
  background-color: transparent;
  background-image: url("/stop-recording.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: -1rem;
  border: none;
  visibility: hidden;
}

#btn-stopSorting.show {
  visibility: visible;
}

@media screen and (max-width: 769px) {
  #btn-stopSorting {
    display: none;
  }
}

#toggle-theory {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: none;
  background-image: url("/terminal-icon.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: backdrop-filter 250ms;
}
#toggle-theory._ {
  background-image: url("/half-terminal-icon.svg");
}

#toggle-theory:hover {
  backdrop-filter: brightness(95%);
}

main {
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    rgba(61, 16, 16, 0) 0%,
    rgba(57, 62, 70, 0.05) 100%
  );
  flex: 1;
  width: 95%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.length-count {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.length-count > label {
  width: 5ch;
}

#length-count {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 50%;
  height: 5px;
  border-radius: 2.5px;
  max-width: 300px;
  background: var(--black);
}

#length-count::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 17px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--teal);
  cursor: pointer;
}

#display {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

#display > div {
  background-color: var(--black);
  box-sizing: border-box;
  flex: 1;
  position: absolute;
  transition: left linear var(--item-transition);
}

#display > div.border {
  transform: scaleX(0.95);
}

#theory-page {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--app-height);
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  display: none;
}

#theory-page.show {
  display: block;
}
